<<<<<<< HEAD
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: rgba(22, 20, 20, 0.788);
}
.heder {
    width: 100%;
    border: 1px solid black;
    height: 50px;
    background-color: rgba(188, 188, 216, 0.877);
    line-height: 50px;
    
}
.logo {
    float: left;
    width: 700;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.menu b {
    float: right;
    white-space: 1px;
}
=======
/* Общие стили для всего сайта */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1877f2; /* Цвет фона Facebook */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

header .logo h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section#main-content {
    padding: 20px;
}


/* Дополнительные стили и структура макета могут быть добавлены здесь */
>>>>>>> bd987760c6cf71ae5be7703ea13afd229850690e
