* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(64, 141, 241);
  transition: 0.5s;
}

.container {
  width: 800px;
  height: 500px;
  padding: 40px 0;
  position: relative;
}
.block {
  height: 100%;
  background-color: rgba(94, 163, 253, 0.623); 
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;

}

.block-item {
  text-align: center;
  width: 50%;
}  

.block-item_title {
  font-size: 1.2rem;
  font-weight: 500;
  color: aliceblue;
  margin-bottom: 10px;
}
.block-item_btn {
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.form_block {
  background-color: #fff;
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0px 5px 45px rgba(0,0,0,0.25);
  transition: 0.5s ease-in-out;
  z-index: 1000;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.form_block.active {
  left: 50%;
}
body.active {
  background-color: firebrick;
}
.form {
  width: 100%;
  padding: 50px;
  font-size: 16px;
  position: absolute; 
  transition: 0.5s;
}
.form_block.active .form-sigin {
  left: -100%;
  transition-delay: 0s;
}
.form_block.active .form-siginup {
  left: 0;
  transition-delay: 0.25s ;
}
.form_title {
font-size: 1.5rem;
font-weight: 500;
color: #333;
}
.form_input {
  width: 100%;
  border: solid 1px #333;
  padding: 10px;
  font-size: inherit;
}
.form-btn {
  border: none;
  cursor: pointer;
  font-size: inherit;
  background-color: rgb(20, 115, 224);
  color: #fff;
  padding: 10px 50px;
}
.form-fargot {
  color: rgb(4, 71, 194);
}
.form_btn_siginup {
  background-color: red;
}
.form-sigin {
  left: 0;
  transition-delay: 0s ;
  
}
.form-siginup {
  left: 100%;
}
@media (max-width: 992px) {
.container {
  max-width: 400px;
  height: 650px;
  padding: 0;
  margin: 0 20px;
  }
.block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.block-item {
  width: 100%;
  padding: 30px 0;
}
.form_block {
  width: 100%;
  height: 500px;
  box-shadow: none;
  top: 0;
}
.form_block.active{
  top: 150px;
  left: 0;

}
}